<h2 align="center">
    Title: <%= @article.title %>
</h2>

<div class="col-xs-8 col-xs-offset-2">
    <h4 class="center"><strong>Description</strong></h4>
    Description: <%= @article.description %>
</div>

<%= link_to "Edit this article", edit_article_path(@article) %>
<%= link_to "back to articles listing", articles_path %>
