<h2 align="center">
    Title: <%= @article.title %>
</h2>

<p> 
    Description: <%= @article.description %>
</p>

<%= link_to "Edit this article", edit_article_path(@article) %>
<%= link_to "back to articles listing", articles_path %>
