<h1 align="center"> <%= "Category:" + @category.name %> </h1>
<% if logged_in? and current_user.admin? %>
<div class="row">
    <span class="badge"><%= link_to "edit category name", edit_category_path(@category) %></span>
</div>
<% end %>
<%= render 'articles/article' %>
   