<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy <a href="#">Ongoing project</a>
        </small>
        <nav>
            <ul>
        </nav>
    </footer>
</div>